:root {
    --black: #000;
    background-image: url(Assets/JPG/background2.jpg);/* everypixel.com */
    background-size: 1920px 1500px;
}

@font-face {
    font-family: Roboto;
    src: url(roboto/Roboto-Black.ttf); /* https://www.fontsquirrel.com/fonts/list/popular*/
    }

* {
    font-family: Roboto, Arial;
    color: var(--black);
}



.Awards, .AboutMe, .Experience, .Projects, .Top, .Personal, .Links{
    display: block;
}

@media screen and (min-width: 451px) {


.idea1 {
    display: grid; 
    grid-template-columns: repeat(3, auto); 
    grid-template-rows: repeat(5, auto); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
}

.Top {
    grid-area: 1 / 1 / 2 / 2;
}

.Links {
    grid-area: 2 / 1 / 3 / 2;
}

.AboutMe {
    grid-area: 2 / 2 / 3 / 4; 
}

.Awards {
    grid-area: 3 / 1 / 4 / 2;
}

.Experience {
    grid-area: 3 / 2 / 4 / 4;
}

.Projects {
    grid-area: 4 / 2 / 5 / 4;
}

.Personal {
    grid-area: 5 / 2 / 6 / 4;
}
}

#LinkedIn, #GitHub, #Email {
    animation-name: biggen;
    animation-duration: 1.5s;
    transition: font-size 1.5s;
}

@keyframes biggen {
    from {
        font-size: 1rem;
    }

    50% {
        font-size: 2rem;
    }

    to {
        font-size: 1rem;
    }
}

@media screen and (min-width: 1100px) {


    .idea1 {
        display: grid; 
        grid-template-columns: repeat(3, auto); 
        grid-template-rows: repeat(5, auto); 
        grid-column-gap: 0px;
        grid-row-gap: 0px; 
    }
    
    .Top {
        grid-area: 1 / 1 / 2 / 2;
    }
    
    .Links {
        grid-area: 2 / 1 / 3 / 2;
    }
    
    .AboutMe {
        grid-area: 2 / 2 / 3 / 4; 
    }
    
    .Awards {
        grid-area: 3 / 1 / 4 / 2;
    }
    
    .Experience {
        grid-area: 3 / 2 / 4 / 4;
    }
    
    .Projects {
        grid-area: 4 / 2 / 5 / 4;
    }
    
    .Personal {
        grid-area: 5 / 2 / 6 / 4;
    }
    }
    
    #LinkedIn, #GitHub, #Email {
        animation-name: biggen;
        animation-duration: 1.5s;
        transition: font-size 1.5s;
    }
    
    @keyframes biggen {
        from {
            font-size: 1rem;
        }
    
        50% {
            font-size: 2rem;
        }
    
        to {
            font-size: 1rem;
        }
    }

#LinkedIn:hover, #GitHub:hover, #Email:hover {
    font-size: 2rem;

}

#Title:hover {
    transform:skew(10deg);
}

@media screen and (max-width: 450px) {
    .idea1{
        grid-template-columns: auto;
        grid-template-rows: repeat(7, auto);
    }
    .Top {
        grid-row: 1;
    }
    
    .Links {
        grid-row: 2;
    }
    
    .AboutMe {
        grid-row: 3;
    }
    
    .Awards {
        grid-row: 4;
    }
    
    .Experience {
        grid-row: 5;
    }
    
    .Projects {
        grid-row: 6;
    }
    
    .Personal {
        grid-row: 7;
    }
}
